* {
    padding: 0;
    margin: 0;
    font-family: 'Hubballi', cursive;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../img/pexels-kamran-gholami-3799047.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: #e71d36;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span:hover{
    color: #011627;
    transition: 0.4s;
}
nav ul li{
    list-style-type: none;
    display: inline;
    padding: 10px 25px;
}
nav ul li a{
    color: #e71d36;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    border: 2px solid transparent;
    border-radius: 30px;
}
nav ul li a:hover{
    color: #011627;
    transition: 0.4s;
}
.content{
    position: absolute;
    top: 40%;
    left: 8%;
    right: 8%;
}
h1{
    color: #ffff;
    margin-bottom: 30px;
    font-size: 40px;
}
h3{
    color: #011627;
    margin-bottom: 30px;
    font-size: 25px;
}
h4{
    color: #011627;
    margin-bottom: 30px;
    font-size: 23px;
}
.img_big_card{
    height: 430px;
    width: 430px;
    border-radius: 5px;
}
.big_card{
    width: 100%;
    padding: 50px 40px;
    background-color: #011627;
    display: flex;
    justify-content: space-between;
}
.big_card:nth-child(even){
    flex-direction: row-reverse;
}
.about_text{
    width: 550px;
}
.about_text h2{
    color: #fdfffc;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about_text p{
    color: #ff9f1c;
    letter-spacing: 1px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.read_more_btn{
    background-color: #011627;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.4s;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
}
.read_more_btn:hover{
    transform: scale(1.3);
    color: #e71d36;
    letter-spacing: 5px;
}
footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.contact_me{
    background-color: #ff9f1c;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_me p{
    color: #011627;
    font-size: 70px;
    font-weight: bold;
}
.social{
    background-color: #011627;
    width: 100%;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social p{
    color: #ff9f1c;
    font-size: 40px;
    font-weight: bold;
    padding-right: 30px;
}
.social a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 22px 10px;
    padding: 15px;
    color: #ff9f1c;
    text-decoration: none;
    font-size: 40px;
}
.social a:hover{
    transform: scale(2);
    transition: 0.4s;
}
.end{
    background-color: #ff9f1c;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.end p{
    color: #011627;
    font-size: 30px;
    font-weight: bold;
}